<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>铂德国际有限公司</title>
	<!--插件:static文件夹-->
	<link rel="stylesheet" href="../../assets/static/bootstrap-3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../assets/static/ydui-0.1.3/css/ydui.css" />
	<link rel="stylesheet" href="../../assets/static/swiper-4.3.3/swiper.min.css" />
	<!--自定义样式表-->
	<link rel="stylesheet" href="../../assets/css/common.css" /> <!--公共样式表-->
	<link rel="stylesheet" href="../../assets/css/tech.css" /> <!--本页样式表-->
	
	<script src="../../assets/static/ydui-0.1.3/js/ydui.flexible.js"></script>
</head>
<body>
    <!-- 页头 start-->
    <div id="header"></div>
    <!-- 页头 end-->	
    
    <!--轮播图banner-->
	<div class="banner" style="background-image: url(../../assets/image/index/banner.png);">
		<div class="banner-layer">
			<div class="cn">核心技术</div>
			<div class="en">core technology</div>
		</div>
	</div>  
	<!--轮播图banner-->
	
	<!--内容区域 start-->
	<div class="main-bg bg1">
		<div class="container">
			<div class="m-tab" data-ydui-tab><!-- 切换 -->
			    <ul class="tab-nav main-tlt">
			        <li class="tab-nav-item tab-active">
			        	<a href="javascript:;" class="hvr-underline-from-left">烟油技术</a>
			        </li>
			        <li class="tab-nav-item">
			        	<a href="javascript:;" class="hvr-underline-from-left">陶瓷雾化芯技术</a>
			        </li>
			        <li class="tab-nav-item">
			        	<a href="javascript:;" class="hvr-underline-from-left">烟油技术2</a>
			        </li>
			    </ul>
			    <div class="tab-panel main-con">
			    	<!--已完成-->
			        <div class="tab-panel-item tab-active">
			        	111
			        </div>
			        <!--未完成-->
			        <div class="tab-panel-item">
			        	222
			        </div>
			        <div class="tab-panel-item">
			        	333
			        </div>
			    </div>
			</div>
		</div>
	</div>

	<!--内容区域 end -->
	
    <!-- 页尾 start-->
    <div id="footer"></div>
    <!-- 页尾 end-->	
    
    <style type="text/css">
    	.common-nav .nav-list .list-nav > li.li-tech a {
    		font-weight: 700;
    	}
		.common-nav .nav-list .list-nav > li.li-tech .hvr-underline-from-left:after {
		    -webkit-transform: scaleX(1);
		    -moz-transform: scaleX(1);
		    transform: scaleX(1)
		}
		@media (max-width: 767px) {
			.common-nav .nav-list .list-nav > li.li-tech .hvr-underline-from-left:after {
				display: none;
			}
		}
    </style> 
    
    <!--插件：static文件夹-->
	<script src="../../assets/static/jquery-2.1.4/jquery.min.js"></script>
	<script src="../../assets/static/bootstrap-3.3.7/js/bootstrap.js"></script>
	<script src="../../assets/static/ydui-0.1.3/js/ydui.js"></script>
	
	<!--自定义js-->
	<script src="../../assets/js/common.js"></script> <!--公共js部分-->
	<script src="../../assets/js/tech.js"></script>	 <!--本页js-->
</body>
</html>