/*---- banner ----*/
.swiper-banner {
	position: relative;
}
/*banner图片部分*/
.swiper-banner .swiper-wrapper .swiper-slide {
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
@media (max-width: 768px){
	.swiper-banner .swiper-wrapper .swiper-slide {
	    height: 200px;
	}	
}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: transparent;
	opacity: 1;
}
.swiper-pagination-bullet:nth-child(1) {
	background-color: darkblue;
}
.swiper-pagination-bullet:nth-child(2) {
	background-color: #cb1a23;
}
.swiper-pagination-bullet:nth-child(3) {
	background-color: #000;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 2px solid #ccc;
}
/*banner文案部分*/
.swiper-banner .container {
	position: absolute;
	height: 100%;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 1;
}
.swiper-banner .swiper-copy {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}
.swiper-banner .swiper-copy .swiper-tlt p {
	font-size: 32px;
	color: #000;
}
.swiper-banner .swiper-copy .swiper-txt {
	margin: 20px 0;
}
.swiper-banner .swiper-copy .swiper-txt p {
	font-size: 20px;
	color: #666;
}
.swiper-banner .swiper-copy .swiper-btns a {
	display: inline-block;
	font-size: 14px;
	padding: 4px 10px;
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 20px;
	color: #000;
}
.swiper-banner .swiper-copy .swiper-btns a:hover,
.swiper-banner .swiper-copy .swiper-btns a.on {
	background-color: #000;
	color: #fff;
}
.swiper-banner .swiper-copy .swiper-btns a.jd {
	margin-left: 10px;
}
.main-bg .main-tlt {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 38px;
}
.main-bg .main-tlt .cn {
	font-size: 30px;
	color: #323232;
}
.main-bg .main-tlt .en {
	font-size: 20px;
	color: #b2b2b2;
	margin-top: 10px;
	text-transform:Uppercase;
}
.slider_circle_10 .active {
	top: 50%;
}