/*---- banner ----*/
.swiper-banner {
	position: relative;
	margin-top: 76px;
}
@media (max-width: 768px){
	.swiper-banner {
		margin-top: 0;
	}	
}
/*banner图片部分*/
.swiper-banner .swiper-wrapper .swiper-slide {
	width: 100%;
	height: 1080px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
@media (max-width: 768px){
	.swiper-banner .swiper-wrapper .swiper-slide {
	    height: 200px;
	}	
}
.swiper-banner .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: transparent;
	opacity: 1;
}
.swiper-banner .swiper-pagination-bullet:nth-child(1) {
	background-color:#1b2c60;
}
.swiper-banner .swiper-pagination-bullet:nth-child(2) {
	background-color: #cb1a23;
}
.swiper-banner .swiper-pagination-bullet:nth-child(3) {
	background-color: #000;
}
.swiper-banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 2px solid #ccc;
}
/*banner文案部分*/
.swiper-banner .container {
	position: absolute;
	height: 100%;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 2;
}
.swiper-banner .swiper-copy {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}
.swiper-banner .swiper-copy .swiper-tlt p {
	font-size: 32px;
	color: #000;
}
.swiper-banner .swiper-copy .swiper-txt {
	margin: 20px 0;
}
.swiper-banner .swiper-copy .swiper-txt p {
	font-size: 20px;
	color: #666;
}
.swiper-banner .swiper-copy .swiper-btns a {
	display: inline-block;
	font-size: 14px;
	padding: 4px 10px;
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 20px;
	color: #000;
}
.swiper-banner .swiper-copy .swiper-btns a:hover,
.swiper-banner .swiper-copy .swiper-btns a.on {
	background-color: #000;
	color: #fff;
}
.swiper-banner .swiper-copy .swiper-btns a.jd {
	margin-left: 10px;
}
@media (max-width: 768px){
	.swiper-banner .container {
		    position: relative;
		    height: 100%;
		    top: auto;
		    left: auto;
			-webkit-transform: initial;
			-moz-transform: initial;
			-ms-transform: initial;
			-o-transform: initial;
			transform: initial;
		    z-index: 1;
	}
	.swiper-banner .swiper-copy	{
		position: relative;
		top: auto;
		-webkit-transform: initial;
		-moz-transform: initial;
		-ms-transform: initial;
		-o-transform: initial;
		transform: initial;
		left: auto;
		background-color: rgba(237,237,237,1);
	}
	.swiper-banner .swiper-copy .swiper-tlt {
		padding: 20px 10%;
	}
	.swiper-banner .swiper-copy .swiper-tlt p {
		font-size: 20px;
	}
	.swiper-banner .swiper-copy .swiper-txt {
		margin: 20px 10%;
	}
	.swiper-banner .swiper-copy .swiper-txt p {
		font-size: 14px;
	}
	.swiper-banner .swiper-copy .swiper-btns a {
		font-size: 12px;
	}
	.swiper-banner .swiper-copy .swiper-btns {
	    padding: 20px;
	    background: linear-gradient(180deg,rgba(238,238,238,0) 0%,rgba(231,231,231,0.84) 24%,rgba(226,226,226,1) 54%,rgba(221,221,221,0.94) 81%,rgba(216,216,216,0) 100%);
	    text-align: center;
	}
}
.main-bg .main-tlt {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 38px;
}
.main-bg .main-tlt .cn {
	font-size: 30px;
	color: #323232;
}
.main-bg .main-tlt .en {
	font-size: 20px;
	color: #666;
	margin-top: 10px;
	text-transform:Uppercase;
}
.slider_circle_10 .active {
	top: 50%;
}
/* Carousel */
#carousel1 {
	width:960px;
	height:400px;
	overflow:hidden;
	position:relative;
	border-bottom:solid 1px #d8d9da;
	margin:0 auto;
}
#carousel1 img {
	border:none;
	width:240px;
	height:180px;
	border:solid 1px #000;
}
#carousel1 #title-text {
	font-size:22px;
	margin:10px 20px 0 0;
	padding:0;
	text-align:right;
}
#carousel1 #alt-text {
	font-size:14px;
	margin:5px 20px 0 0;
	padding:0;
	text-align:right;
}
#carousel1 #user-c {
	padding:0;
	position:absolute;
	right:15px;
	bottom:10px;
}
#carousel1 .carouselLeft, #carousel1 .carouselRight {
	position:absolute;
	bottom:20px;
	width:29px;
	height:30px;
	overflow:hidden;
	cursor:pointer;
}
#carousel1 .carouselLeft {
	right:60px;
	background:url(../../assets/image/index/left.png) no-repeat;
}
#carousel1 .carouselRight {
	right:808px;
	background:url(../../assets/image/indexright.png) no-repeat;
}
.carousel-item {
	width: 100%;
	height: 600px;
	position: relative;
}
.cloud9-item {
	width: 202px;
	opacity: .6;
}
.cloud9-item.on {
	opacity: 1;
}
.carousel-item #buttons > div {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 48px;
	height: 140px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.carousel-item #buttons > .left {
	left: 0;
	background-image: url(../../assets/image/index/left.png);
}
.carousel-item #buttons > .right {
	right: 0;
	background-image: url(../../assets/image/index/right.png);
}
.swiper-item {
	display: none;
}
@media (max-width: 768px){
	.carousel-item {
	    display: none;
	}	
	.swiper-item {
		display: block;
		margin: 0 2% 40px;
		position: relative;
	}
	.swiper-item .swiper-slide {
		height: 250px;
	}
	.swiper-item .swiper-slide .swiper-img {
		width: 100%;
		height: 85%;
		background: linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
		display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.swiper-item .swiper-slide .swiper-img img {
		max-width: 90%;
		max-height: 90%;
	}
	.swiper-item .swiper-slide .swiper-tlt {
		font-size: 16px;
		color: #333;
		height: 15%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.swiper-item .swiper-pagination {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.swiper-item .swiper-pagination-bullet {
		margin: 0 4px;
		background:#d8d8d8;
	}
	.swiper-item .swiper-pagination-bullet-active {
		background-color: #000;
	}
}