<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>铂德国际有限公司</title>
	<!--插件:static文件夹-->
	<link rel="stylesheet" href="../../assets/static/bootstrap-3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../assets/static/swiper-4.3.3/swiper.min.css" />
	<!--<link rel="stylesheet" href="../../assets/static/jquery.easy_slides/jquery.easy_slides.css" />-->
	<!--自定义样式表-->
	<link rel="stylesheet" href="../../assets/css/common.css" /> <!--公共样式表-->
	<link rel="stylesheet" href="../../assets/css/index.css" /> <!--本页样式表-->
</head>
<body>
    <!-- 页头 start-->
    <div id="header"></div>
    <!-- 页头 end-->	
    
    <!--轮播图start-->
	<div class="swiper-container swiper-banner">
	    <!--banner文案部分-->
	    <div class="container">
	    	<div class="swiper-copy">
		    	<div class="swiper-tlt">
		    		<p>口感好</p>
		    		<p>超大容量 超快解瘾</p>
		    	</div>
		    	<div class="swiper-txt">
		    		<p>铂德即用型电子烟，加量67%</p>
		    		<p>一只约抽700口</p>
		    	</div>
		    	<div class="swiper-btns">
		    		<a href="#" class="tmall">天猫购买</a>
		    		<a href="#" class="jd on">京东购买</a>
		    	</div>
	    	</div>
	    </div>
	    <!--banner图片部分-->
	    <div class="swiper-wrapper">
	        <div class="swiper-slide" style="background-image: url(../../assets/image/index/banner.png);"></div>
	        <div class="swiper-slide" style="background-image: url(../../assets/image/index/banner.png);"></div>
	        <div class="swiper-slide" style="background-image: url(../../assets/image/index/banner.png);"></div>
	    </div>
	    <!-- 如果需要分页器 -->
	    <div class="swiper-pagination"></div>
	</div>  
	<!--轮播图end-->
	
	<!--内容区域 start-->
	<div class="main-wrapper">
		<div class="main-bg bg1">
			<div class="container">
				<!--标题-->
				<div class="main-tlt">
					<div class="cn">产品中心</div>
					<div class="en">product</div>
				</div>
				<!--内容-->
				<div class="main-con">
					<div class="carousel-item">
						<div id="carousel">
						 	<img class="cloud9-item" src="../../assets/image/index/pro.png">
						 	<img class="cloud9-item" src="../../assets/image/index/pro.png">
						 	<img class="cloud9-item" src="../../assets/image/index/pro.png">
						 	<img class="cloud9-item" src="../../assets/image/index/pro.png">
						 	<img class="cloud9-item" src="../../assets/image/index/pro.png">
						 	<img class="cloud9-item" src="../../assets/image/index/pro.png">
						 	<img class="cloud9-item" src="../../assets/image/index/pro.png">
						 	<img class="cloud9-item" src="../../assets/image/index/pro.png">
						 	<img class="cloud9-item" src="../../assets/image/index/pro.png">
						</div>
						<div id="buttons">
						 	<div class="left"></div>
							<div class="right"></div>
						</div>
					</div>
					<div class="swiper-item">
						<!-- Swiper -->
					  	<div class="swiper-container">
					    	<div class="swiper-wrapper">
					      		<div class="swiper-slide">
					      			<div class="swiper-img"><img src="../../assets/image/index/pro.png"/></div>
					      			<div class="swiper-tlt">新琥珀</div>
					      		</div>
					      		<div class="swiper-slide">
					      			<div class="swiper-img"><img src="../../assets/image/index/pro.png"/></div>
					      			<div class="swiper-tlt">新琥珀</div>
					      		</div>
					      		<div class="swiper-slide">
					      			<div class="swiper-img"><img src="../../assets/image/index/pro.png"/></div>
					      			<div class="swiper-tlt">新琥珀</div>
					      		</div>
					      		<div class="swiper-slide">
					      			<div class="swiper-img"><img src="../../assets/image/index/pro.png"/></div>
					      			<div class="swiper-tlt">新琥珀</div>
					      		</div>
					    	</div>
					  	</div>
					  	<!-- Add Pagination -->
					   	<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--内容区域 end -->
	
    <!-- 页尾 start-->
    <div id="footer"></div>
    <!-- 页尾 end-->	
    
    <style type="text/css">
    	.common-nav .nav-list .list-nav > li.li-home > a {
			/*background-color: #323232;
			color: #fff;*/
		}
    </style>   
    <!--插件：static文件夹-->
	<script src="../../assets/static/jquery-2.1.4/jquery.min.js"></script>
	<script src="../../assets/static/bootstrap-3.3.7/js/bootstrap.js"></script>
	<script src="../../assets/static/swiper-4.3.3/swiper.min.js"></script>
	<script src="../../assets/static/cloud9carousel/jquery.cloud9carousel.js"></script>
	<!--自定义js-->
	<script src="../../assets/js/common.js"></script> <!--公共js部分-->
	<script src="../../assets/js/index.js"></script>	 <!--本页js-->
	
	<script>  
		//banner
	  	var mySwiper = new Swiper ('.swiper-banner', {
	  		direction : 'horizontal',
//	  		autoplay: true,//可选选项，自动滑动
		    loop: true, // 循环模式选项
		    
		    // 如果需要分页器
		    pagination: {
		      el: '.swiper-pagination',
		      clickable: true,
		    },
		    
		    // 如果需要前进后退按钮
		    navigation: {
		      nextEl: '.swiper-button-next',
		      prevEl: '.swiper-button-prev',
		    },
		    
		    // 如果需要滚动条
		    scrollbar: {
		      el: '.swiper-scrollbar',
		    },
	  	})        
	</script>
	<script>
		$("#carousel").Cloud9Carousel( {
		 	buttonLeft:$("#buttons>.left"),
	 		buttonRight:$("#buttons>.right"),
			// autoPlay:1,
	 		bringToFront:true
		});
	</script>
	<script>
		var swiper = new Swiper('.swiper-item .swiper-container', {
	      	slidesPerView: 2,
	      	spaceBetween: 20,
	      	pagination: {
	        	el: '.swiper-pagination',
	        	clickable: true,
	      	},
	    });
	</script>
</body>
</html>