<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>铂德国际有限公司</title>
	<!--插件:static文件夹-->
	<link rel="stylesheet" href="../../assets/static/bootstrap-3.3.7/css/bootstrap.min.css" />
	<!--自定义样式表-->
	<link rel="stylesheet" href="../../assets/css/common.css" /> <!--公共样式表-->
	<link rel="stylesheet" href="../../assets/css/news.css" /> <!--本页样式表-->
</head>
<body>
    <!-- 页头 start-->
    <div id="header"></div>
    <!-- 页头 end-->	
    
    <!--轮播图banner-->
	<div class="banner" style="background-image: url(../../assets/image/index/banner.png);">
		<div class="banner-layer">
			<h3>biling新品发布会</h3>
			<div class="btn"><a href="">立即查看</a></div>
		</div>
	</div>  
	<!--轮播图banner-->
	
	<!--内容区域 start-->
	<div class="main-bg">
		<div class="main-con">
			<!--资讯列表-->
			<ul class="news-item">
				<li>
					<a href="#"> <!--资讯链接-->
						<div class="li-img">
							<img src="../../assets/image/index/banner.png" alt="" />
						</div>
						<div class="li-txt">
							<div class="tlt">铂德电子烟公开31项专利 在头部品牌中高</div>
							<div class="txt">随着中国的经济发展与互联网行业发展，信息</div>
						</div>
						<div class="li-btn">
							<a href="javascript:;">MORE ></a>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--内容区域 end -->
	
    <!-- 页尾 start-->
    <div id="footer"></div>
    <!-- 页尾 end-->	
    
    <style type="text/css">
    	.common-nav .nav-list .list-nav > li.li-news a {
    		font-weight: 700;
    	}
		.common-nav .nav-list .list-nav > li.li-news .hvr-underline-from-left:after {
		    -webkit-transform: scaleX(1);
		    -moz-transform: scaleX(1);
		    transform: scaleX(1)
		}
		@media (max-width: 767px) {
			.common-nav .nav-list .list-nav > li.li-news .hvr-underline-from-left:after {
				display: none;
			}
		}
    </style> 
    
    <!--插件：static文件夹-->
	<script src="../../assets/static/jquery-2.1.4/jquery.min.js"></script>
	<script src="../../assets/static/bootstrap-3.3.7/js/bootstrap.js"></script>
	<!--自定义js-->
	<script src="../../assets/js/common.js"></script> <!--公共js部分-->
	<script src="../../assets/js/news.js"></script>	 <!--本页js-->
</body>
</html>